---
import { BorderBeam } from '@/components/magicui/border-beam'
import CardContactMe from '@/components/cards/card-contact-me.astro'
import MainLayout from '@/layouts/MainLayout.astro'
import { Image } from 'astro:assets'
import { Contact } from 'lucide-react'
---

<MainLayout>
  <div class="px-24">
    <header class="flex flex-col items-center gap-8">
      <h2 class="font-bold text-3xl italic tracking-wider">¡Sobre mí!</h2>
      <div class="relative flex w-full justify-center rounded-2xl bg-background py-5 border">
        <Image
          transition:name=`image profile.jpeg`
          loading="eager"
          alt="me"
          src="/img/profile.jpg"
          class="rounded-2xl object-cover h-[300px] w-[300px]"
          width={300}
          height={300}
        />
        <BorderBeam size={300} borderWidth={1.9} duration={15} delay={0} />
      </div>
    </header>
    <div class="flex flex-col gap-5 mt-14">
      <div class="flex flex-col gap-3 text-zinc-400">
        <span>
          Como desarrollador Frontend apasionado por la creación de experiencias digitales
          intuitivas, he dedicado los últimos 2 años a construir aplicaciones web robustas. Mi
          experiencia abarca desde el diseño de interfaces de usuario atractivas hasta el desarrollo
          de frontend escalables utilizando tecnologías como React, Vue3, Tailwind, Sass entre
          otras.
        </span>
        <span>
          <span class="font-bold text-white/65 mb-3">Actualmente</span>, estoy explorando el mundo
          del backend y las arquitecturas de microservicios para optimizar mis proyectos personales.
          Además, estoy contribuyendo activamente a un proyecto open source de HacktoberfrestES para
          mejorar mi comprensión y logica de programacion.
        </span>
        <span>
          En mi tiempo libre, disfruto participando en hackathons y construyendo pequeños proyectos
          para experimentar con nuevas tecnologías. También soy una persona con mucha energia la
          cual le gusta el deporte y un entusiasta de la gamificación.
        </span>
        <span>
          Jesús David es un desarrollador fullstack comprometido con la calidad del código y la
          satisfacción del usuario. Mi objetivo es crear productos digitales que sean tanto
          funcionales como estéticamente agradables.
        </span>
      </div>
      <div>
        <div>
          <span class="font-bold text-white/65 mb-3">INTERACCIONES Y MENCIONES</span>
        </div>
        <div class="flex flex-col gap-3">
          <Image
            loading="eager"
            alt="me"
            src="/img/mention-1.jpg"
            class="rounded-2xl object-cover h-[] w-[600px]"
            width={1212}
            height={1260}
          />
          <Image
            loading="eager"
            alt="me"
            src="/img/mention-2.jpg"
            class="rounded-2xl object-cover h-[] w-[600px]"
            width={1212}
            height={1260}
          />
        </div>
      </div>
    </div>
  </div>
  <div>
    <CardContactMe title="¡Contáctame!" />
  </div>
</MainLayout>

<style></style>
