---
import MainLayout from '@/layouts/MainLayout.astro'
import CardProject from '@/components/cards/card-project.astro'
import CardContactMe from '@/components/cards/card-contact-me.astro'

import { cn } from '@/lib/utils'
import AnimatedShinyText from '@/components/magicui/animated-shiny-text'
import ListTechnologies from '../../components/marquee/list-tecnologies.astro'
import RowLink from '@/icons/row-link.icon.astro'
import { projects } from '@/content/projects'
import { Image } from 'astro:assets'
---

<MainLayout>
  <div>
    <div class="flex flex-col">
      <div class="flex items-center">
        <Image
          transition:name=`image profile.jpeg`
          loading="eager"
          alt="me"
          src="/img/profile.jpg"
          class="rounded-full object-cover w-[128px] h-[128px] z-10"
          width={128}
          height={128}
        />
        <div class="ml-6 flex flex-col justify-center">
          <span class="font-bold text-2xl italic tracking-wider">Jesus David Saavedra</span>
          <div
            class={cn(
              'max-w-max mt-2 group rounded-full border border-black/5 text-white transition-all ease-in hover:cursor-pointer dark:border-[#8577a8] dark:hover:border-[#c38de7] bg-background'
            )}
          >
            <AnimatedShinyText
              className="inline-flex items-center justify-center px-4 py-1 transition -out hover:text-[#51415c] hover:duration-300 hover:dark:text-[#c38de7]"
            >
              <span class="flex flex-row items-center justify-center">
                Available to work
                <span class="scale-[0.65]">
                  <RowLink />
                </span>
              </span>
            </AnimatedShinyText>
          </div>
        </div>
      </div>
      <span class="my-8 text-base">
        I am a proactive and adaptive Fullstack developer, I have built complete web applications
        from scratch with its architecture. I have quickly adapted to new frameworks and
        technologies, as I did when adopting Vue 3 in a project. I am able to work independently and
        in a team, delivering high quality projects and meeting deadlines. I am an advocate of good
        development practices, writing clean, scalable and efficient code. My passion for continuous
        learning drives me to continuously improve my technical and soft skills.
      </span>
    </div>
    <div>
      <ListTechnologies />
    </div>
    <div class="mt-4">
      <div class="flex flex-row justify-between items-center">
        <span class="text-2xl font-bold tracking-widern italic"> Works </span>
        <a href="/en/work" class="text-xs font-semibold capitalize"> All works ▸ </a>
      </div>
      <div class="grid relative py-8 gap-4 lg:gap-5 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
        {
          projects
            .toSpliced(3, 3)
            .map((project) => <CardProject project={project} isPageWork={false} />)
        }
      </div>
    </div>
    <div>
      <CardContactMe title="Contact with me!" />
    </div>
  </div>
</MainLayout>

<style></style>
