---
import { Image } from 'astro:assets'
import { timelines } from '@/content/timeline'
import MainLayout from '@/layouts/MainLayout.astro'
import { ListTechnologies } from '@/components/marquee/list-technologies'

const { id } = Astro.params
---

<MainLayout>
  <div>
    <div class="flex gap-7">
      <div class="flex flex-col items-center">
        <header class="flex flex-col max-w-lg gap-4">
          <div class="flex gap-4 items-center justify-center">
            <Image
              src="/img/ginko.svg"
              alt="logo"
              width={30}
              height={30}
              class="w-[60px] h-[60px] rounded-md"
            />
            <h4 class="text-2xl font-medium">Ginko Financial Solutions</h4>
          </div>
          <span class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore quibusdam, voluptatum
            nulla facere provident,
          </span>
          <span class="text-center font-semibold text-lg text-indigo-400 mt-10">
            Stack of technologies used
          </span>
          <ListTechnologies />
        </header>
        <div
          class="grid relative py-8 gap-4 lg:gap-5 sm:grid-cols-1 md:grid-cols-2 justify-items-center items-center"
        >
          <Image
            src={`/img/project-2.webp`}
            alt="logo"
            width={300}
            height={300}
            class="w-[350px] h-[350px] rounded-2xl object-cover"
          />
          <p class="text-base text-gray-400 dark:text-neutral-400 line-clamp-5 pb-6 inline-block">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati omnis hic maiores
            dolor nisi ex, necessitatibus aliquam sint quaerat eos unde adipisci, perspiciatis a.
            Ratione voluptatum ipsum ullam iste excepturi?Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Quia nisi labore quod vero ex quidem. Officiis, blanditiis assumenda
            ab quod necessitatibus suscipit. Consequatur aperiam ut quod veritatis saepe, odit
            quasi!
          </p>
        </div>
        <div class="w-[600px] my-4"></div>
        <div class="flex flex-col items-center">
          {
            timelines.slice(0, 2).map((timeline) => (
              <div class=" relative pl-8 ml-4">
                <div class="relative pb-10">
                  <div>
                    <span class="-left-[32px] h-full absolute w-[1px] bg-black dark:bg-white/30 top-5" />
                  </div>
                  <div class="flex justify-between">
                    <h5 class="text-lg font-semibold">
                      {timeline.title}
                      <span class="absolute -left-[37px] h-3 w-3 top-[15px] -translate-y-1/2 rounded-full bg-white dark:bg-purple-500" />
                    </h5>
                  </div>
                  <span class="text-sm font-medium text-white/60">{timeline.location}</span>
                  <p class="text-white/80 py-4">{timeline.description}</p>
                  <Image
                    src={`/img/project-1.jpeg`}
                    alt="logo"
                    width={300}
                    height={300}
                    class="w-[650px] h-[350px] rounded-2xl object-cover"
                  />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</MainLayout>
