---
import CardProject from '@/components/cards/card-project.astro'
import { projects } from '@/content/projects'
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout>
  <div class="flex flex-col items-center justify-center">
    <header class="w-[420px] mb-10 text-center">
      <h3
        class="text-3xl mb-3 font-bold tracking-[-1.2px] bg-repeat bg-clip-text bg-100% bg-text-gradient"
        style="-webkit-text-fill-color:transparent"
      >
        Works
      </h3>
      <span>
        It has been an absolute pleasure to put my heart and soul into these projects. While you're
        here, browse these projects.
      </span>
    </header>
    <div class="flex justify-center w-[600px]">
      <div class="grid relative py-8 gap-4 lg:gap-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
        {
          projects
            .sort((a, b) => parseInt(a.id) - parseInt(b.id))
            .map((project) => <CardProject project={project} isPageWork={true} />)
        }
      </div>
    </div>
  </div>
</MainLayout>

<style></style>
